# Files
/week5/frodo.mangled.txt
/week5/bilbo.mangled.txt
/week5/pippin.mangled.txt
/week5/samwise.mangled.txt
/week5/secondwordlist.txt
/week5/*.mangled.txt
/week5/hydra.restore
/week7/rockyPlist.txt
/week9/sqli-labs-php7/sql-connections/db-creds.inc
#autogit.sh

